.contador{

    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

#titulo{
    font-family: "font-effect-3d-float"
}
.contenedor{
    
    text-align: center;
    background-color:#25272E;
}

.numero{
    color: rgb(243, 240, 240);
    margin-top: 2rem;
    font-size: 400%;
    width: 5rem;
    border-radius: 5rem;
    padding: 2rem;
    margin-right: 2rem;
    background-color: #414443;
}

.faltan{
    padding-top: 1.5rem;
    font-size: 3rem;
}

.con{
    margin-bottom: 1.5rem;
}

.regresiva{
    color:rgb(243, 240, 240);
}


#dias{
    padding-right: 1.5rem;
}
#horas{
    padding-right: 2rem !important;
}
#minutos{
    padding-right: 2rem !important;
}
#segundos{
    padding-right: 2rem !important;
}

@media (max-width: 985px) {
    .numero {
        line-height: 30px;
        text-align: center;
        margin-top: 2rem;
        font-size: 80%;
        width: 3rem;
        height: 3rem;
        border-radius: 3rem;
        padding: 0.5rem;
        
    }
    .regresiva{
        font-size: 10px;
        text-align: start;
        padding-left: 0px !important;
       
    }
    #dias{
        padding-left: 0.7rem !important;
    }
    #horas{
        padding-left: 0.5rem !important;
    }
    .contador{
        margin-left: 1.5rem;
    }
  
  }